

   <section class="bg-danger">
    <div class="container">
    <div class="row  p-2 text-white ">
        <div class="col-md-6 h5">
            <a href="javascript:;" class="text-white h2 "><i class="fas fa-exclamation-triangle"></i></a>
            12 mandatory fields required to complete profile
           
        </div>
        <div class="col-md-6 text-right">
            <a href="javascript:;" class="text-white h6 pt-3 d-block textd">Go to <strong>My Profile</strong> to complete missing information <i class="fas fa-angle-double-right"></i> </a>
        </div>
    </div>
</div>

   </section>
    <section class="heroimg">
        <div class="container pt-5">
        <div class="row">
            <div class="col-md-6">
                <h2 class="mb-4">International job fairs</h2>
                <p class="para1 mb-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis perferendis at ut cupiditate est! Sed accusamus culpa nostrum nesciunt, </p>
                <p class="para1 mb-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis perferendis at ut cupiditate est! Sed accusamus culpa nostrum nesciunt, </p>
                <p class="para1">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis perferendis at ut cupiditate est! Sed accusamus culpa nostrum nesciunt, magni rem impedit repellat dicta aut consequuntur rerum molestias blanditiis placeat!</p>
            </div>
            <div class="col-md-6 col-sm-6">
                <img src="../../../../assets/images/job-fair1.png" alt="heroimg" class="img-fluid">
            </div>
    
        </div>
    </div>
    </section>


