
.heroimg{
    background-image:linear-gradient(to right bottom,(#FFF09D, #68FFF6));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.textd{
    text-decoration: underline!important;
}
